{% extends 'admin/layout.html' %} {% block maincontent %}
<div class="container p-3">
    <center>
        <h3>CLUB PLAYERS</h3>
    </center>
    <div class="row p-3">
        <div class="col"></div>
        <div class="col-8">
            <div class="row p-3">
                <div class="col-10"></div>
                <div class="col-2">
                    <a href="{% url 'add_away_club' %}"><button class="btn btn-outline-secondary w-100">New</button></a>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Club</th>
                        <th>Matches Played</th>
                        <th>Goals</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="row">
                                <div class="col"><input type="button" class="btn btn-outline-primary w-100" value="Edit"></div>
                                <div class="col"><input type="button" class="btn btn-outline-primary w-100" value="Delete"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}